<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="Test.Listeners"/>
</listeners>

  <test name="Positive end to end flow">
    <classes>
     <class name="Test.Demoblazetest"/>
    </classes>  
  </test> <!-- Test -->
  
  <test name="Negativeflow">
    <classes>
      <class name="Test.Negativeflow"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
